In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Assignment 3: Improving the Pipeline

## Things to fix in my pipeline

1. ~~A way to read different types of data.~~
2. ~~Make it so that the plotting functions have a title.~~
3. A pre-processing function that handles outliers.
4. ~~A function that discretizes continuous features,~~ and ~~one that turns a categorical variable into dummies.~~
5. ~~Add more classifiers to the pipeline~~
    * Added logit, KNN, decision trees, SVM, random forests, and naive bayes.
    * Not done with my gradient boosted classifier yet, I'll add that as soon as I'm done ...
6. Experiment with different parameters for these classifiers.
7. ~~Add additional evaluation metrics.~~
8. Create temporal validation function.

## Analysis

In [13]:
import pipeline_v2 as pxy

In [14]:
df = pxy.read_data("projects.csv", "csv")

In [25]:
df.head()

,projectid,teacher_acctid,schoolid,school_ncesid,school_latitude,school_longitude,school_city,school_state,school_zip,school_metro,...,resource_type,poverty_level,grade_level,fulfillment_labor_materials,total_price_excluding_optional_support,total_price_including_optional_support,students_reached,eligible_double_your_impact_match,eligible_almost_home_match,date_posted
0,316ed8fb3b81402ff6ac8f721bb31192,42d43fa6f37314365d08692e08680973,c0e6ce89b244764085691a1b8e28cb81,6.362701e+10,36.576340,-119.608713,Selma,CA,93662.0,NaN,...,Books,highest poverty,Grades 6-8,30.0,555.81,653.89,32.0,f,f,2014-05-12
1,90de744e368a7e4883223ca49318ae30,864eb466462bf704bf7a16a585ef296a,d711e47810900c96f26a5d0be30c446d,4.837020e+11,32.911179,-96.723640,Dallas,TX,75243.0,urban,...,Books,highest poverty,Grades PreK-2,30.0,296.47,348.79,22.0,f,f,2014-05-12
2,32943bb1063267de6ed19fc0ceb4b9a7,37f85135259ece793213aca9d8765542,665c3613013ba0a66e3a2a26b89f1b68,4.103270e+11,45.166039,-122.414576,Colton,OR,97017.0,rural,...,Technology,high poverty,Grades PreK-2,30.0,430.89,506.93,17.0,f,f,2014-05-11
3,bb18f409abda2f264d5acda8cab577a9,2133fc46f951f1e7d60645b0f9e48a6c,4f12c3fa0c1cce823c7ba1df57e90ccb,3.600153e+11,40.641727,-73.965655,Brooklyn,NY,11226.0,urban,...,Books,highest poverty,Grades 3-5,30.0,576.07,677.73,12.0,f,f,2014-05-11
4,24761b686e18e5eace634607acbcc19f,867ff478a63f5457eaf41049536c47cd,10179fd362d7b8cf0e89baa1ca3025bb,6.227100e+10,34.043939,-118.288371,Los Angeles,CA,90006.0,urban,...,Other,highest poverty,Grades PreK-2,30.0,408.40,480.47,24.0,f,f,2014-05-11

In [15]:
df2 = df.iloc[0:1000,:]

In [16]:
ldf = pxy.read_data("outcomes.csv", "csv")

In [17]:
ldf.head()

,projectid,is_exciting,at_least_1_teacher_referred_donor,fully_funded,at_least_1_green_donation,great_chat,three_or_more_non_teacher_referred_donors,one_non_teacher_referred_donor_giving_100_plus,donation_from_thoughtful_donor,great_messages_proportion,teacher_referred_count,non_teacher_referred_count
0,ffffc4f85b60efc5b52347df489d0238,f,NaN,f,NaN,f,NaN,NaN,NaN,NaN,NaN,NaN
1,ffffac55ee02a49d1abc87ba6fc61135,f,f,t,t,f,t,f,f,57.0,0.0,7.0
2,ffff97ed93720407d70a2787475932b0,f,f,t,t,t,t,t,f,100.0,0.0,3.0
3,ffff418bb42fad24347527ad96100f81,f,f,f,t,t,f,f,f,100.0,0.0,1.0
4,ffff2d9c769c8fb5335e949c615425eb,t,t,t,t,t,f,t,f,63.0,6.0,2.0

In [22]:
pd.cut(ldf['great_messages_proportion'],5).value_counts()

(80.0, 100.0]    116022
(-0.1, 20.0]     102855
(40.0, 60.0]      98264
(60.0, 80.0]      72245
(20.0, 40.0]      50101
Name: great_messages_proportion, dtype: int64

In [ ]:
# Maybe I can use qcut to remove outliers?

In [31]:
?value_counts()

Object `value_counts` not found.

In [38]:
pd.qcut(df['total_price_excluding_optional_support'],200).value_counts(sort = False)

(-0.001, 109.685]         3321
(109.685, 122.23]         3323
(122.23, 130.18]          3361
(130.18, 135.24]          3280
(135.24, 139.08]          3324
(139.08, 142.099]         3314
(142.099, 145.0]          3332
(145.0, 147.71]           3314
(147.71, 150.06]          3322
(150.06, 152.238]         3314
(152.238, 154.97]         3336
(154.97, 157.26]          3310
(157.26, 159.81]          3318
(159.81, 162.068]         3318
(162.068, 164.92]         3336
(164.92, 167.55]          3313
(167.55, 170.24]          3314
(170.24, 173.0]           3367
(173.0, 176.0]            3302
(176.0, 178.94]           3351
(178.94, 181.96]          3265
(181.96, 184.91]          3321
(184.91, 187.31]          3326
(187.31, 190.47]          3316
(190.47, 193.34]          3330
(193.34, 196.31]          3306
(196.31, 199.16]          3327
(199.16, 202.156]         3313
(202.156, 205.43]         3325
(205.43, 208.54]          3319
                          ...
(763.36, 773.88]          3304
(773.88, 784.07]          3327
(784.07, 794.089]         3310
(794.089, 803.74]         3386
(803.74, 812.37]          3257
(812.37, 821.54]          3328
(821.54, 831.0]           3319
(831.0, 838.67]           3353
(838.67, 845.488]         3280
(845.488, 853.98]         3699
(853.98, 862.918]         2942
(862.918, 876.793]        3321
(876.793, 889.948]        3320
(889.948, 901.37]         3322
(901.37, 913.0]           3321
(913.0, 923.98]           3331
(923.98, 940.257]         3308
(940.257, 969.0]          3341
(969.0, 1008.907]         3300
(1008.907, 1076.02]       3322
(1076.02, 1161.954]       3319
(1161.954, 1264.98]       3325
(1264.98, 1400.25]        3317
(1400.25, 1552.5]         3336
(1552.5, 1696.86]         3306
(1696.86, 1924.19]        3321
(1924.19, 2097.033]       3318
(2097.033, 2387.903]      3321
(2387.903, 3507.628]      3320
(3507.628, 10250017.0]    3321
Name: total_price_excluding_optional_support, Length: 200, dtype: int64

In [23]:
?pd.qcut